@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, currentColor 10%, transparent);
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, currentColor 20%, transparent);
}

/* Hide scrollbar for clean aesthetic but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}